footer {
    padding: 30px 10px 30px 10px;
    display: flex;
    justify-content: space-around;
    .footer {
        h5 {
            padding:5px 0px 5px 0px;
            font-size: 18px;
            font-family: $textFont1;
            color: $color4;
            font-weight: 500;
        }
        a, p{
            font-size: 14px;
            font-family: $textFont1;
            color: $color5;
            font-weight: 500;
        }
    }
}