// Réinitialisation des marges du navigateur
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ajuste la taille totale en tenant compte des padding et border */
}

// Mixin pour les styles communs du header
@mixin header-styles {
    background-color: #DAD6D1;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin: 15px;
    margin-bottom: 0px;
}

// Mixin pour les styles communs du nav
@mixin nav-styles {
    padding: 0px 80px 0px 80px;
    ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        .home {
            display: flex;
            margin-top: 40px;
            li {
                a {
                    text-decoration: none;
                }
                img {
                    height: 75px;
                }
            }
        }
        .contactCV {
            display: flex;
            margin-top: 40px;
            align-items: center;
            font-size: 16px;
            font-family: $textFont1;
            font-weight: 400;
            li {
                padding-right: 10px;
                a {
                    text-decoration: none;
                    color: $color1;
                }
            }
        }
    }
}

// Mixin pour les styles communs de la section
@mixin section-styles {
    padding: 50px 80px 0px 80px;
    .titleJob {
        display: flex;
        justify-content: space-between;
        h2 {
            font-size: 22px;
            font-family: $textFont1;
            font-weight: 600;
            color: $color2;
            margin-bottom: 0;
        }
        h1 {
            font-size: 121px;
            font-family: $textFont2;
            font-weight: 700;
            color: $color2;
            margin-top: 0;
        }
        display: flex;
        align-items: center;
        img {
            width: auto;
        }
    }
}

// Mixin pour les styles communs de l'aside
@mixin aside-styles {
    margin-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    font-family: $textFont1;
    font-size: 22px;
    font-weight: 500;
    color: $color1;
}

// Styles pour les écrans d'ordinateurs de bureau
@media screen and (min-width: 1200px) {
    header {
        @include header-styles;
        .headerHtml {
            min-height: 100vh;
        }
        nav {
            @include nav-styles;
        }
        section {
            @include section-styles;
        }
        aside {
            @include aside-styles;
        }
    }
}

// Styles pour les écrans mobiles et de taille supérieure
@media screen and (min-width: 768px) and (max-width: 1200px) {
    header {
        @include header-styles;
        nav {
            @include nav-styles;
        }
        section {
            @include section-styles;
            .titleJob h1 {
                font-size: 70px; // Ajustez si nécessaire
            }
            .titleJob img {
                width: 200px;
            }
        }
        aside {
            @include aside-styles;
        }
    }
}

// Styles pour les petits écrans
@media screen and (max-width: 768px) {
    header {
        @include header-styles;
        nav {
            @include nav-styles;
        }
        section {
            padding: 20px 80px 0px 80px;
            text-align: center;
            .titleJob {
                h2 {
                    font-size: 22px;
                    font-family: $textFont1;
                    font-weight: 600;
                    color: $color2;
                    margin-bottom: 10px;
                }
                h1 {
                    font-size: 45px;
                    font-family: $textFont2;
                    font-weight: 700;
                    color: $color2;
                    margin-bottom: 10px;
                }
                img {
                    width: 150px;
                }
            }
        }
        aside {
            margin-top: 50px;
            padding-bottom: 50px;
            text-align: center;
            font-family: $textFont1;
            font-size: 14px;
            font-weight: 500;
            color: $color1;
        }
    }
}
