
// Commun pour les écrans de bureau et les téléphones
main {
    margin: 15px;
    margin-top: 0px;
    .aboutWrap {
        box-sizing: border-box;
        background-color: $color5;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        .about {
            background-color: $color5;
            width: 75%;
            margin: auto;
            padding-top: 50px;
            padding-bottom: 50px;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
            h2 {
                font-size: 22px;
                font-family: $textFont1;
                font-weight: 600;
                color: $color2;
                margin-bottom: 50px;
            }
            .aboutFirstPart {
                font-size: 32px;
                font-family: $textFont2;
                color: $color2;
                margin-bottom: 10px;
            }
            .aboutSecondPart {
                font-size: 16px;
                font-family: $textFont2;
                color: $color2;
                margin-bottom: 30px;
            }
            .contact {
                display: flex;
                a {
                    display: flex;
                    border: solid 1px $color7;
                    border-radius: 50px;
                    background-color: $color7;
                    color: $color5;
                    font-family: $textFont2;
                    text-align: center;
                    }
                    img {
                        padding-right: 5px;
                    }
                }
            }
        }
    .skillsEducation {
        padding-top: 100px;
        margin: auto;
        color: $color5;
        text-align: center;
        h2 {
            font-size: 28px; // Modifier la taille de la police
            font-family: $textFont1;
            font-weight: 400;
        }
        h4 {
            padding:50px 0px 20px 0px;
            font-size: 15px; // Modifier la taille de la police
            font-family: $textFont2;
            color: $color4;
            font-weight: 600;
            span {
                color: $color3;
            }
        }
        .skills {
            display: flex;
            justify-content: space-evenly;
            .frontSkills, .backSkills {
                div {
                    display: flex;
                    background-color: $color2;
                    padding: 10px;
                    margin: 3px;
                    border-radius: 10px;
                    span {
                        padding: 10px;
                    }
                }
            }
        }
        .educationList, .softSkillsList {
            div {
                display: flex;
                background-color: $color2;
                padding: 10px;
                margin: 3px;
                border-radius: 10px;
                span {
                    padding: 10px;
                }
            }
        }
    }
    .contact2 {
        background: url("../../../pictures/cercle.svg");
        -webkit-background-size: cover; /* pour anciens Chrome et Safari */
        background-size: cover;
        padding-top: 100px;
        width: 75%;
        text-align: center;
        margin: auto;
        color: $color5;
        .questions {
            font-size: 16px;
            font-family: $textFont2;
            color:$color4;
        }
        .contactMe {
            font-size: 64px;
            font-family: $textFont1;
            color:$color5;
        }
        .contactChoices {
            display: flex;
            justify-content: center;
            :hover {
                cursor: pointer;
            }
            a {
                display: flex;
                justify-content: center;
                border: solid 2px $color7;
                padding: 10px;
                margin: 5px;
                border-radius: 50px;
                background-color: $color2;
                color: $color5;
                font-size: 18px;
                font-family: $textFont2;
                text-align: center;
                img {
                    padding-right: 5px;
                }
            }
        }
    }
}

// Styles spécifiques pour les écrans d'ordinateurs de bureau
@media screen and (min-width: 1200px) {
    main {
        .aboutWrap {
            .about {
                h2 {
                    font-size: 22px;
                    margin-bottom: 50px;
                }
                .aboutFirstPart {
                    font-size: 32px;
                }
                .aboutSecondPart {
                    font-size: 16px;
                }
                .contact {
                    justify-content: end;
                    a {
                        margin-right: 10px;
                        font-size: 18px;
                        padding: 12px;
                    }
                }
            }
        }
        .skillsEducation {
            width: 75%;
            .skills {
                .frontSkills, .backSkills {
                    display: flex;
                }
            }
            h2 {
                font-size: 64px;
            }
            h4 {
                font-size: 18px;
            }
        }
    }
}

// Styles spécifiques pour les écrans de téléphone
@media screen and (max-width: 1200px) {
    main {
        .aboutWrap {
            .about {
                h2 {
                    font-size: 18px;
                    margin-bottom: 20px;
                }
                .aboutFirstPart {
                    font-size: 20px;
                }
                .aboutSecondPart {
                    font-size: 14px;
                }
                .contact {
                    justify-content: center;
                    a {
                        width: 50px;
                        height: 50px;
                        padding: 10px;
                        margin: 5px;
                        border-radius: 50%;
                    }
                }
            }
        }
        .skillsEducation {
            h2 {
                font-size: 28px;
            }
            h4 {
                font-size: 15px;
            }
        }
        .contact2 {
            .contactChoices {
                a {
                    width: 50px;
                    height: 50px;
                    padding: 10px;
                    margin: 5px;
                    border-radius: 50%;
                }
            }
        }
    }
}

// Styles page legal.html
.mentions {
    display: flex;
    justify-content: start;
}
.CGU {
    color: $color5;
}