* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ajuste la taille totale en tenant compte des padding et border */
}

@media screen and (min-width: 1200px) {
  header {
    background-color: #DAD6D1;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin: 15px;
    margin-bottom: 0px;
  }
  header .headerHtml {
    min-height: 100vh;
  }
  header nav {
    padding: 0px 80px 0px 80px;
  }
  header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
  }
  header nav ul .home {
    display: flex;
    margin-top: 40px;
  }
  header nav ul .home li a {
    text-decoration: none;
  }
  header nav ul .home li img {
    height: 75px;
  }
  header nav ul .contactCV {
    display: flex;
    margin-top: 40px;
    align-items: center;
    font-size: 16px;
    font-family: Cascadia Mono;
    font-weight: 400;
  }
  header nav ul .contactCV li {
    padding-right: 10px;
  }
  header nav ul .contactCV li a {
    text-decoration: none;
    color: #3C5233;
  }
  header section {
    padding: 50px 80px 0px 80px;
  }
  header section .titleJob {
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  header section .titleJob h2 {
    font-size: 22px;
    font-family: Cascadia Mono;
    font-weight: 600;
    color: #162C2F;
    margin-bottom: 0;
  }
  header section .titleJob h1 {
    font-size: 121px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    color: #162C2F;
    margin-top: 0;
  }
  header section .titleJob img {
    width: auto;
  }
  header aside {
    margin-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    font-family: Cascadia Mono;
    font-size: 22px;
    font-weight: 500;
    color: #3C5233;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  header {
    background-color: #DAD6D1;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin: 15px;
    margin-bottom: 0px;
  }
  header nav {
    padding: 0px 80px 0px 80px;
  }
  header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
  }
  header nav ul .home {
    display: flex;
    margin-top: 40px;
  }
  header nav ul .home li a {
    text-decoration: none;
  }
  header nav ul .home li img {
    height: 75px;
  }
  header nav ul .contactCV {
    display: flex;
    margin-top: 40px;
    align-items: center;
    font-size: 16px;
    font-family: Cascadia Mono;
    font-weight: 400;
  }
  header nav ul .contactCV li {
    padding-right: 10px;
  }
  header nav ul .contactCV li a {
    text-decoration: none;
    color: #3C5233;
  }
  header section {
    padding: 50px 80px 0px 80px;
  }
  header section .titleJob {
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  header section .titleJob h2 {
    font-size: 22px;
    font-family: Cascadia Mono;
    font-weight: 600;
    color: #162C2F;
    margin-bottom: 0;
  }
  header section .titleJob h1 {
    font-size: 121px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    color: #162C2F;
    margin-top: 0;
  }
  header section .titleJob img {
    width: auto;
  }
  header section .titleJob h1 {
    font-size: 70px;
  }
  header section .titleJob img {
    width: 200px;
  }
  header aside {
    margin-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    font-family: Cascadia Mono;
    font-size: 22px;
    font-weight: 500;
    color: #3C5233;
  }
}
@media screen and (max-width: 768px) {
  header {
    background-color: #DAD6D1;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin: 15px;
    margin-bottom: 0px;
  }
  header nav {
    padding: 0px 80px 0px 80px;
  }
  header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
  }
  header nav ul .home {
    display: flex;
    margin-top: 40px;
  }
  header nav ul .home li a {
    text-decoration: none;
  }
  header nav ul .home li img {
    height: 75px;
  }
  header nav ul .contactCV {
    display: flex;
    margin-top: 40px;
    align-items: center;
    font-size: 16px;
    font-family: Cascadia Mono;
    font-weight: 400;
  }
  header nav ul .contactCV li {
    padding-right: 10px;
  }
  header nav ul .contactCV li a {
    text-decoration: none;
    color: #3C5233;
  }
  header section {
    padding: 20px 80px 0px 80px;
    text-align: center;
  }
  header section .titleJob h2 {
    font-size: 22px;
    font-family: Cascadia Mono;
    font-weight: 600;
    color: #162C2F;
    margin-bottom: 10px;
  }
  header section .titleJob h1 {
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    color: #162C2F;
    margin-bottom: 10px;
  }
  header section .titleJob img {
    width: 150px;
  }
  header aside {
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: Cascadia Mono;
    font-size: 14px;
    font-weight: 500;
    color: #3C5233;
  }
}
main {
  margin: 15px;
  margin-top: 0px;
}
main .aboutWrap {
  box-sizing: border-box;
  background-color: #E8E6E5;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
main .aboutWrap .about {
  background-color: #E8E6E5;
  width: 75%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
main .aboutWrap .about h2 {
  font-size: 22px;
  font-family: Cascadia Mono;
  font-weight: 600;
  color: #162C2F;
  margin-bottom: 50px;
}
main .aboutWrap .about .aboutFirstPart {
  font-size: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #162C2F;
  margin-bottom: 10px;
}
main .aboutWrap .about .aboutSecondPart {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #162C2F;
  margin-bottom: 30px;
}
main .aboutWrap .about .contact {
  display: flex;
}
main .aboutWrap .about .contact :hover {
  cursor: pointer;
}
main .aboutWrap .about .contact button {
  display: flex;
  border: solid 1px #6F732F;
  border-radius: 50px;
  background-color: #6F732F;
  color: #E8E6E5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
main .aboutWrap .about .contact img {
  padding-right: 5px;
}
main .skillsEducation {
  padding-top: 100px;
  margin: auto;
  color: #E8E6E5;
  text-align: center;
}
main .skillsEducation h2 {
  font-size: 28px;
  font-family: Cascadia Mono;
  font-weight: 400;
}
main .skillsEducation h4 {
  padding: 50px 0px 20px 0px;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #9E9C9A;
  font-weight: 600;
}
main .skillsEducation h4 span {
  color: #95995C;
}
main .skillsEducation .skills {
  display: flex;
  justify-content: space-between;
}
main .skillsEducation .skills .frontSkills div, main .skillsEducation .skills .backSkills div, main .skillsEducation .skills .mobileSkills div {
  display: flex;
  background-color: #162C2F;
  padding: 10px;
  margin: 3px;
  border-radius: 10px;
}
main .skillsEducation .skills .frontSkills div span, main .skillsEducation .skills .backSkills div span, main .skillsEducation .skills .mobileSkills div span {
  padding: 10px;
}
main .skillsEducation .educationList div, main .skillsEducation .softSkillsList div {
  display: flex;
  background-color: #162C2F;
  padding: 10px;
  margin: 3px;
  border-radius: 10px;
}
main .skillsEducation .educationList div span, main .skillsEducation .softSkillsList div span {
  padding: 10px;
}
main .contact2 {
  background: url("../../../pictures/cercle.svg"); /* pour anciens Chrome et Safari */
  background-size: cover;
  padding-top: 100px;
  width: 75%;
  text-align: center;
  margin: auto;
  color: #E8E6E5;
}
main .contact2 .questions {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #9E9C9A;
}
main .contact2 .contactMe {
  font-size: 64px;
  font-family: Cascadia Mono;
  color: #E8E6E5;
}
main .contact2 .contactChoices {
  display: flex;
  justify-content: center;
}
main .contact2 .contactChoices :hover {
  cursor: pointer;
}
main .contact2 .contactChoices button {
  display: flex;
  justify-content: center;
  border: solid 2px #6F732F;
  padding: 10px;
  margin: 5px;
  border-radius: 50px;
  background-color: #162C2F;
  color: #E8E6E5;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
main .contact2 .contactChoices button img {
  padding-right: 5px;
}

@media screen and (min-width: 1200px) {
  main .aboutWrap .about h2 {
    font-size: 22px;
    margin-bottom: 50px;
  }
  main .aboutWrap .about .aboutFirstPart {
    font-size: 32px;
  }
  main .aboutWrap .about .aboutSecondPart {
    font-size: 16px;
  }
  main .aboutWrap .about .contact {
    justify-content: end;
  }
  main .aboutWrap .about .contact button {
    margin-right: 10px;
    font-size: 18px;
    padding: 12px;
  }
  main .skillsEducation {
    width: 75%;
  }
  main .skillsEducation h2 {
    font-size: 64px;
  }
  main .skillsEducation h4 {
    font-size: 18px;
  }
}
@media screen and (max-width: 1200px) {
  main .aboutWrap .about h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  main .aboutWrap .about .aboutFirstPart {
    font-size: 20px;
  }
  main .aboutWrap .about .aboutSecondPart {
    font-size: 14px;
  }
  main .aboutWrap .about .contact {
    justify-content: center;
  }
  main .aboutWrap .about .contact button {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
  }
  main .skillsEducation h2 {
    font-size: 28px;
  }
  main .skillsEducation h4 {
    font-size: 15px;
  }
  main .contact2 .contactChoices button {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
  }
}
.mentions {
  display: flex;
  justify-content: start;
}

.CGU {
  color: #E8E6E5;
}

footer {
  padding: 30px 10px 30px 10px;
  display: flex;
  justify-content: space-around;
}
footer .footer h5 {
  padding: 5px 0px 5px 0px;
  font-size: 18px;
  font-family: Cascadia Mono;
  color: #9E9C9A;
  font-weight: 500;
}
footer .footer a, footer .footer p {
  font-size: 14px;
  font-family: Cascadia Mono;
  color: #E8E6E5;
  font-weight: 500;
}

body {
  background-color: #132326;
}/*# sourceMappingURL=styles.css.map */